.flex-container {
  overflow: hidden;
  display: flex;
  margin: 2em;
  padding: auto; 
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
    align-items: center;
    text-align: center;
  }
}

.button-label {
  margin: 1rem;
  gap: 12rem; 
}

::ng-deep mat-button-toggle {
  color: white !important; 
  background-color: white; 
}

::ng-deep mat-button-toggle.mat-button-toggle-checked {
  color: rgb(59, 59, 59) !important;
}

.container-language {
  margin-top: 1.1rem;
  margin-left: 6rem;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
